body, html {
    margin: 0;
    padding: 0;
    background-color: #f0c0e0;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.contenido h1 {
    color: #d10056;
    margin: 0;
    padding: 20px 0;
    font-size: 2em;
}

.galeria img {
    width: 100px;
    margin: 0 10px;
    border: 3px solid #d10056;
    border-radius: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.galeria img:hover {
    transform: scale(1.1);
}

.mensaje-oculto {
    color: #d10056;
    margin-top: 20px;
    font-size: 1.5em;
    font-style: italic; /* Esto hace que el texto sea cursivo */
    display: none; /* Inicialmente oculto */
}

@media (max-width: 768px) {
    .galeria img {
        width: 80px;
    }
}

@media (max-width: 480px) {
    .galeria img {
        width: 60px;
    }
}
